
.Rhistory

*.pper

.Rproj.user/37112B19/persistent-state

.Rproj.user/37112B19/rmd-outputs

.Rproj.user/37112B19/saved_source_markers

.Rproj.user/37112B19/sdb/prop/2C77064

.Rproj.user/37112B19/sdb/prop/4B9D3920

.Rproj.user/37112B19/sdb/prop/5A0456BC

.Rproj.user/37112B19/sdb/prop/7439DAD6

.Rproj.user/37112B19/sdb/prop/91A9B41F

.Rproj.user/37112B19/sdb/prop/BEE154C7

.Rproj.user/37112B19/sdb/prop/EC352BCF

.Rproj.user/37112B19/sdb/prop/INDEX

.Rproj.user/37112B19/sdb/s-2C40B4E5/2DF8E5DD

.Rproj.user/37112B19/sdb/s-2C40B4E5/3FD27574

.Rproj.user/37112B19/sdb/s-2C40B4E5/7DA320CB

.Rproj.user/37112B19/sdb/s-2C40B4E5/D50BEFBB

.Rproj.user/37112B19/sdb/s-2C40B4E5/lock_file

.Rproj.user/37112B19/session-persistent-state

.Rproj.user/shared/notebooks/paths

*.rds

*.dbf

*.prj

*.qpj

*.shp

*.shx

*.sbn

*.sbx

*.xml

*.dat

*.csv

*.pdf

*.docx

*.qgs

*.rtf

*.htm

*.Rproj

*.numbers
.Rproj.user

*.db

*.RData
